{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

<div id="f-video-hero-1723861579Mk1qR"
    class="f:sections f:video-hero f-video-hero-1723861579Mk1qR f:section--no-margin">
    <div class="f:container-full">
        <div class="f:hero__wrapper f:hero--adapt" style="--f-aspect-ratio:2.333;--f-aspect-ratio-mobile:1.778">
            <div class="f:hero__inner">
                <div class="f:hero__bg f:bg-video" style="--f-aspect-ratio:2.333;--f-aspect-ratio-mobile:1.778"><video
                        class="video-playsinline"
                        src="https://cdn.shopify.com/videos/c/o/v/5179875770df43dbab0d28f0618f7cd9.mp4" playsinline=""
                        autoplay="" muted="" loop=""></video></div>
                <div class="f:hero__content-wrapper f:hero__content--center f:flex f:inset-full f:container-extended">
                    <div class="f:hero__content"></div>
                </div>
            </div>
        </div>
    </div>
</div>