

@font-face {
    font-family: 'MARIE';
    src: url(//www.earthsunocean.com/cdn/shop/files/Marie.ttf?v=13511306448550547953) format('truetype'),
         url(//www.earthsunocean.com/cdn/shop/files/Marie_Italic.ttf?v=18106962098308754536) format('truetype');
}
@font-face {
    font-family: 'PALM LEAF';
    src: url(//www.earthsunocean.com/cdn/shop/files/Palm_Leaf_Regular.ttf?v=15182211542015379633) format('truetype'),
         url(//www.earthsunocean.com/cdn/shop/files/Palm_Leaf_Italic.ttf?v=598851449169947877) format('truetype');
}